general {
    colors =                        true
    interval =                      5
    color_good =                    "#2AA198"
    color_bad =                     "#586E75"
    color_degraded =                "#DC322F"
    output_format =                 i3bar
}

order +=                            "cpu_usage"
order +=                            "memory"
order +=                            "tztime local"
order +=                            "volume master"
order +=                            "battery all"

cpu_usage {
    format =                        "  CPU %usage  "
}

memory {
    format =                        "  RAM %used  "
}

volume master {
    format =                        "  VOL: %volume  "
    format_muted =                  "  MUTED  "
    device =                        "default"
    mixer =                         "Master"
    mixer_idx =                      0
}

tztime local {
    format =                        "  %B %d %H:%M %p  "
}

battery all {
    format =                        "  BAT: %percentage  "
    status_chr =                    "  CHARGING  "
    integer_battery_capacity =      true
}
